/* Body styling  */
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

/* main content div styling */
#main-content {
    height: 100%;
    /* width: 100%; */
    margin-bottom: 5px;
}

#myNetwork {
    /* width: 100%; */
    height: 600px;
    border: 1px solid lightgrey;
    margin-bottom: 5px;
}


/* nav styling */
#nav-row {
    margin-bottom: 5px;
}

/* File input button styling */
input[type="file"] {
    display:none;
}

/* Stats container styling */
#stats-container {
    margin-bottom: 5px;
}

#desc-card {
    height: 100%;
}
/* Control panel styling */


/* Algorithm data styling */


#id-alert {
    display: none;
}