/* Body styling  */
body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

/* main content div styling */
#main-content {
    height: 650px;
    width: 100%;
    margin: 5px, 0px, 5px, 0px;
}

/* Network styles */
#myNetwork {
    width: 100%;
    height: 90%;
    border: 1px solid grey;
    margin: 5px;
  }


/* nav styling */
#nav-row {
    margin-bottom: 5px;
}
input[type="file"] {
    display:none;
}


/* Control panel styling */

#control-panel-container {
    width: 99%;
    height: 99%;
}

/* Algorithm data styling */
#desc-card, #exchange-data-card {
    height: 100%;
}

#id-alert {
    display: none;
}